# Delete Those Duplicates!

In deze exercise ga je werken met een filmdataset van IMDb. Soms komt het voor in een dataset dat een datapunt door een fout twee keer, of zelfs meerdere keren voorkomt. Dit geeft een verkeerd beeld van de werkelijkheid en daarom wil je deze duplicates verwijderen.

Dubbele datapunten verwijderen uit een dataframe.

Import libraries.

In [4]:
import pandas as pd

Get csv file.

In [8]:
df = pd.read_csv('IMDb_films.csv', index_col='index')
df

,title,year,date_published,genre,duration,language,description,reviews_from_users,reviews_from_critics
index,,,,,,,,,
0,Miss Jerry,1894,1894-10-09,Romance,45,None,The adventures of a female reporter in the 1890s.,1.0,2.0
2,Den sorte drøm,1911,1911-08-19,Drama,53,NaN,Two men of high rank are both wooing the beaut...,5.0,2.0
9,Richard III,1912,1912-10-15,Drama,55,English,Richard of Gloucester uses manipulation and mu...,8.0,1.0
10,Atlantis,1913,1913-12-26,Drama,121,Danish,After Dr. Friedrich's wife becomes mentally un...,9.0,9.0
12,Il calvario di una madre,1913,1915-10-18,Drama,96,NaN,Single mother is separated from her children d...,16.0,7.0
...,...,...,...,...,...,...,...,...,...
34247,Harlem Aria,1999,1999-09-12,Drama,100,English,"Chasing his dream, Anton leaves his aunt's hom...",5.0,8.0
34517,Kvar,1978,1978-12-16,Drama,91,Serbo-Croatian,"A journalist lives his smooth citizen life, ma...",NaN,1.0
31181,Ça reste entre nous,1998,1998-05-06,Comedy,86,French,"Patrick loves his exquisite wife, who made him...",NaN,1.0
37570,Anyád! A szúnyogok,2000,2000-02-10,Comedy,80,Hungarian,NaN,2.0,2.0
59929,Dârin wa gaikokujin,2010,2010-04-10,Comedy,100,Japanese,"Set in the Tokyo area, an aspiring Japanese ma...",8.0,10.0

Get the number of rows.

In [20]:
len(df)
print("Oorspronkelijke datapunten:", len(df))

Oorspronkelijke datapunten: 21782

Delete duplicates.

In [17]:
df.drop_duplicates()

,title,year,date_published,genre,duration,language,description,reviews_from_users,reviews_from_critics
index,,,,,,,,,
0,Miss Jerry,1894,1894-10-09,Romance,45,None,The adventures of a female reporter in the 1890s.,1.0,2.0
2,Den sorte drøm,1911,1911-08-19,Drama,53,NaN,Two men of high rank are both wooing the beaut...,5.0,2.0
9,Richard III,1912,1912-10-15,Drama,55,English,Richard of Gloucester uses manipulation and mu...,8.0,1.0
10,Atlantis,1913,1913-12-26,Drama,121,Danish,After Dr. Friedrich's wife becomes mentally un...,9.0,9.0
12,Il calvario di una madre,1913,1915-10-18,Drama,96,NaN,Single mother is separated from her children d...,16.0,7.0
...,...,...,...,...,...,...,...,...,...
85847,Ottam,2019,2019-03-08,Drama,120,Malayalam,"Set in Trivandrum, the story of Ottam unfolds ...",1.0,NaN
85848,Pengalila,2019,2019-03-08,Drama,111,Malayalam,An unusual bond between a sixty year old Dalit...,NaN,NaN
85850,Le lion,2020,2020-01-29,Comedy,95,French,A psychiatric hospital patient pretends to be ...,NaN,4.0
85852,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,Malayalam,NaN,NaN,NaN
85854,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Catalan,"Pep, a 13-year-old boy, is in love with a girl...",NaN,2.0

Get the number of duplicates.

In [23]:
print("Duplicates:", len(df)-len(df.drop_duplicates()))

Duplicates: 12

## IMDB Inspector

Get first rows dataframe.

In [24]:
df.head()

,title,year,date_published,genre,duration,language,description,reviews_from_users,reviews_from_critics
index,,,,,,,,,
0,Miss Jerry,1894,1894-10-09,Romance,45,None,The adventures of a female reporter in the 1890s.,1.0,2.0
2,Den sorte drøm,1911,1911-08-19,Drama,53,NaN,Two men of high rank are both wooing the beaut...,5.0,2.0
9,Richard III,1912,1912-10-15,Drama,55,English,Richard of Gloucester uses manipulation and mu...,8.0,1.0
10,Atlantis,1913,1913-12-26,Drama,121,Danish,After Dr. Friedrich's wife becomes mentally un...,9.0,9.0
12,Il calvario di una madre,1913,1915-10-18,Drama,96,NaN,Single mother is separated from her children d...,16.0,7.0

Print categories.

In [25]:
print(df['genre'].unique())

['Romance' 'Drama' 'Western' 'Comedy' 'Adventure' 'Sci-Fi'
 'Science Fiction' 'sci-fi' 'SciFi' 'Sci Fi']

Replace categories to Sci-Fi

In [31]:
df_new = df.replace(to_replace =['sci-fi', 'SciFi', 'Sci Fi'], value ="Sci-Fi")
df_new

,title,year,date_published,genre,duration,language,description,reviews_from_users,reviews_from_critics
index,,,,,,,,,
0,Miss Jerry,1894,1894-10-09,Romance,45,None,The adventures of a female reporter in the 1890s.,1.0,2.0
2,Den sorte drøm,1911,1911-08-19,Drama,53,NaN,Two men of high rank are both wooing the beaut...,5.0,2.0
9,Richard III,1912,1912-10-15,Drama,55,English,Richard of Gloucester uses manipulation and mu...,8.0,1.0
10,Atlantis,1913,1913-12-26,Drama,121,Danish,After Dr. Friedrich's wife becomes mentally un...,9.0,9.0
12,Il calvario di una madre,1913,1915-10-18,Drama,96,NaN,Single mother is separated from her children d...,16.0,7.0
...,...,...,...,...,...,...,...,...,...
34247,Harlem Aria,1999,1999-09-12,Drama,100,English,"Chasing his dream, Anton leaves his aunt's hom...",5.0,8.0
34517,Kvar,1978,1978-12-16,Drama,91,Serbo-Croatian,"A journalist lives his smooth citizen life, ma...",NaN,1.0
31181,Ça reste entre nous,1998,1998-05-06,Comedy,86,French,"Patrick loves his exquisite wife, who made him...",NaN,1.0
37570,Anyád! A szúnyogok,2000,2000-02-10,Comedy,80,Hungarian,NaN,2.0,2.0
59929,Dârin wa gaikokujin,2010,2010-04-10,Comedy,100,Japanese,"Set in the Tokyo area, an aspiring Japanese ma...",8.0,10.0

Print categories again.

In [29]:
print(test['genre'].unique())

['Romance' 'Drama' 'Western' 'Comedy' 'Adventure' 'Sci-Fi'
 'Science Fiction']

## Het Favoriete Genre

Calculate the average review score by genre.

In [32]:
print(df_new.groupby(['genre'])[['reviews_from_users']].mean())

                 reviews_from_users
genre
Adventure                  9.677273
Comedy                    17.017376
Drama                     16.608525
Romance                    9.152493
Sci-Fi                    18.773663
Science Fiction           13.000000
Western                   19.020583